[2019-09-19 15:16] EricWittmann opened #1 "Missing documentation: mqtt5"
The main 2.0.0 specification document links to it, but it doesn't exist.  Reference from the 2.0.0 spec:

https://github.com/asyncapi/asyncapi/blob/master/versions/2.0.0/asyncapi.md#server-bindings-object

Check the `mqtt5` row in the table - it links to a missing document.

[2019-09-23 12:03] fmvilas commented on #1
Thanks for reporting, Eric. Fixed it temporarily by pushing some placeholder information.

[2019-09-23 12:03] #1 closed

[2019-10-19 05:14] KhantParthA opened #2 "[FEATURE REQUEST] HTTP with multiple methods"
**Is your feature request related to a problem? Please describe.**
 here in asyncapi 2.0.0 we can not add multiple operations like GET-POST-DELETE-PUT using single operation Binding in a single channel.

**Describe the solution you'd like**
 please add multiple operations - (GET, POST, PUT, DELETE) in same channel
 using Operation Binding like "http"    in asyncapi version 2.0.0

**Describe altern

[2019-10-22 12:04] fmvilas commented on #2
Hi @KhantParthA, I transferred this issue to the bindings repo, as it's a problem with the HTTP binding. Aside from that, I'm curious to understand why would you need this feature? Are you trying to document a REST API using AsyncAPI?

[2019-10-24 14:48] olvlvl opened #3 "Clarification with amqp channel bindings"
Hi everyone,

We recently updated our files to v2 and we are now trying to make the best use of the new bindings. We are still unsure about some parts of the specification.

It's pretty clear that if a channel is publishing a message, it should look something like this:

[code]

And if a channel is used to publish and subscribe it should look something like this:

[code]

Now, what if a channel is

[2019-10-29 09:19] fmvilas commented on #3
Hey Olivier!

As per your first question, it seems correct to me. Please note bindings are under development right now. If you find something that can be improved, please open an issue/PR here: https://github.com/asyncapi/bindings/tree/master/amqp.

And regarding your second question, you should be fine to use `$ref` there and everywhere a list of custom keys is not expected. For instance, this ca

[2019-11-04 11:49] jonaslagoni opened #5 "[FEATURE REQUEST] Specifying NATS bindings"
To implement the following issues for the generator https://github.com/asyncapi/generator/issues/151 and https://github.com/asyncapi/generator/issues/152 the NATS bindings should be specified first to avoid custom extensions.

[2019-11-07 15:22] olvlvl opened #7 "AMQP: Unable to use $ref for queue or exchange"
Hi everyone,

Using RabbitMQ, many messages are published to the same exchange, and many messages are read from the same queues. I would expect to be able to use `$ref` to share exchanges and queues definitions between channels but using the keyword produces a parsing error:

![Screen Shot 2019-11-07 at 16 19 44](https://user-images.githubusercontent.com/155998/68401682-7348a500-017a-11ea-80f1-60f

[2019-11-08 19:39] fmvilas commented on #7
Hey Olivier! It's possible to use `$ref` there. Actually, `$ref` is a JSON Schema mechanism, not an AsyncAPI-specific one.

What's not allowed, is to have `exchanges` or `queues` under `components` but nothing stops you from having your own `x-components` section in the document. Like this:

[code]

Also, you can use $ref to point to an external YAML or JSON file where you can have all these defin

[2019-11-08 20:52] olvlvl commented on #7
It completely helps! But I'm not sure it's obvious. Do you think that's something we could mention in the documentation?

[2019-11-08 21:19] fmvilas commented on #7
It would definitely be useful in the docs. Maybe not on the spec itself but on the Getting started guide or as a tutorial. Maybe a blog post too. If you're in the mood to write it we can publish it on the AsyncAPI blog 😊

[2019-11-18 09:43] fmvilas opened #8 "[FEATURE REQUEST] Support Parameter formats"
@raveclassic commented on [Fri Nov 15 2019](https://github.com/asyncapi/asyncapi/issues/294)

**Is your feature request related to a problem? Please describe.**
Currently `ws` channel bindings allow you to define some query/header parameters: https://github.com/asyncapi/bindings/tree/master/websockets#channel-binding-object
However this solution lacks flexibility and power in comparison to [swagge

[2019-11-18 09:58] fmvilas commented on #8
I like the idea of unifying query parameters and headers into a `parameters` array following the OpenAPI 3 style. However, I would keep this in the WS binding (and maybe HTTP too) for now given that these features only exist in WS and HTTP. There are no other messaging protocols that support query parameters, cookies, etc.

[2019-11-26 15:56] wcbagley opened #9 "[FEATURE REQUEST] Support IBM MQ"
Would like to add support for IBM MQ as a protocol type. See https://en.wikipedia.org/wiki/IBM_MQ

[2019-11-26 16:09] wcbagley opened #10 "[FEATURE REQUEST] Support Microsoft MQ (MSMQ)"
Add MSMQ as a named, supported protocol. It is similar to JMS in function. DTC transactions should be out of scope for now and could be added as a separate feature later as the feature may apply to multiple protocols. https://en.wikipedia.org/wiki/Microsoft_Message_Queuing.

[2019-12-03 15:33] fmvilas commented on #9
Can you please add more information about it? Is it really a protocol or a product implementing protocols like AMQP? How do you imagine the protocol binding shape?

[2019-12-03 15:35] fmvilas commented on #10
Can you please add more information about it? How do you imagine the protocol binding shape?

[2019-12-05 13:49] wcbagley commented on #9
IBM MQ is the grandaddy of all queing systems. It has some unique features because it exists on both mainframe and open systems, and is often used to pass data between them. So you can write to a queue in EBCDIC and read it from a different server in ASCII. In fact, this may provide justification for the "request/response" sections of the AsyncAPI file because while the schema should be the same,

[2019-12-05 14:11] wcbagley commented on #10
Similar to IBM MQ, MSMQ uses a concept of write servers and read servers. These are usually clustered (primary and backup) behind a load balancer but the spec need not include that. There may be separate clusters per location. (So you write to server cluster in Houston, read from server cluster in Tallahassee.)
There is a concept of message priority.
There is also a concept where the message write

[2019-12-17 01:43] Paul-T-AU opened #11 "[FEATURE REQUEST] Message Ordering Definition"
**Feature**: Provide the ability to define an optional attribute indicating if the received events should be processed in strict or grouped order (correlated) or if indeed no ordering is required. For example, something like

**ordering: strict|grouped|none**

**Why**: When the business case requires events to be processed in order, brokers that can implement FIFO or support grouped type event que

[2019-12-20 15:16] gustajz opened #12 "[FEATURE REQUEST] Documentation for more than one routingKey"
Hi everyone

It's possible add support to documenting an exchange that contains more than one routingKey for different queues?

Proposal Example:
[code]

Below is a real world example:

![rabbitmq](https://user-images.githubusercontent.com/1320225/71264192-49120780-2322-11ea-9b29-5e743f7f798e.png)

Thanks!

[2019-12-24 11:08] fmvilas commented on #9
Awesome. It looks like it will require some investigation work from our side. Any draft binding work would be appreciated.

[2019-12-24 11:09] fmvilas commented on #10
Same as with IBM MQ. We'll have to do some investigation. Any draft binding work would be appreciated.

[2019-12-24 11:11] fmvilas commented on #11
This is definitely something AsyncAPI bindings should have. Are you thinking about a specific protocol?

[2019-12-24 11:42] fmvilas commented on #12
If I understood correctly, you can already do this:

[code]

Let me know if this makes sense to you.

[2019-12-27 00:21] Paul-T-AU commented on #11
Hi Fran, My initial thinking was more at the logical level so the consumer understood the overall ordering intent for the inflight events. But taking this forward and applying to a specific protocol AWS SQS would be a good candidate, since it supports both ordinary & FIFO queues with grouping.

Would it help if I created a draft set of bindings for SQS to show how this could be applied?

[2019-12-27 01:20] fmvilas commented on #11
It would definitely help, even if you just post it here :)

[2019-12-27 01:31] Paul-T-AU commented on #11
Sure, will do.

[2020-01-13 00:54] Paul-T-AU commented on #11
Please find below the fields I think that would be required to connect to both FIFO & Standard queues and also for the intent to be understood. Please note I have only shown those fields required for ordering not the full configuration.

Reading the thread on extensions and the fact that ordering is implemented by more than one broker (but not all) would this be better as a reusable extension?

![

[2020-02-05 11:28] fmvilas commented on #11
Is this information about the order and deduplication part of the SQS protocol? Is it something you configure on the broker? Is it something you configure on your clients?

I'm asking because if and only if it's part of the protocol then it should be on a binding. Otherwise, it should probably be an extension as you pointed out. Either a generic extension or a specific one for SQS.

[2020-02-06 21:14] Paul-T-AU commented on #11
Yes, they are required to be configured client side, I'll look at converting this to an example extension.

[2020-03-03 10:27] fmvilas commented on #12
I'm closing this issue but feel free to comment if you think it's not solved. Thanks.

[2020-03-03 10:27] #12 closed

[2020-03-12 12:55] jonaslagoni commented on #5
Still a work in progress 📦

[2020-03-12 14:37] #7 closed

[2020-03-13 18:41] fmvilas opened #15 "Double down on protocol bindings"

[2020-03-17 09:39] fmvilas commented on #11
Hey @Paul-T-AU. Did you finally make it an extension? Is there anything I can do to help you forward on this?

[2020-03-18 05:21] Paul-T-AU commented on #11
Hi @fmvilas thanks for the nudge, I need to revisit this, so I will use the current lack of travel opportunities to make some time! Will get back to you.

[2020-03-31 04:22] Paul-T-AU commented on #11
So, to bring this conversation back to one location after I strayed over to slack, I just wanted to make sure I’m clear of the intent of bindings versus extensions before I create a push request.

Some SQS Background,

1. When talking about SQS the underlying protocol is HTTP with json/xml/unformatted text for message payload plus message meta attributes.
2. To **publish** to an SQS **FIFO** queue

[2020-03-31 09:05] fmvilas opened #108 "[FEATURE REQUEST] Add ZMTP (Zero MQ) protocol binding"
**Is your feature request related to a problem? Please describe.**
It's not. Just a missing protocol binding.

**Can't it be tackled using specification extensions?**
It makes sense to have it there like the other protocols. However, it can be tackled with specification extensions in the meantime.

**Describe the solution you'd like**
Add a protocol binding for ZMTP. Don't know exactly what it wou

[2020-03-31 09:42] fmvilas commented on #11
You got it correctly. I think in this case a protocol binding makes sense because it's a protocol on top of http. It may not be the wire protocol but it's still a protocol. I think the example you shared with me is good. Feel free to submit a pull request and we can discuss over code :)

[2020-04-13 00:07] #10 closed

[2020-04-13 00:07] #9 closed

[2020-04-22 15:05] anragab opened #18 "RSocket bindings"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
  RSocket is a reactive protocol
- How will this change help?
  Ability to define the type of the channel to be opened for an operation
  - Send and Forget
  - Send one, receive one
  - Send one, receive many
  - Send many, receive many
  Ability to define which server to create (TCP, or Websocket)
- Wh

[2020-04-25 12:00] Pakisan opened #19 "HTTP Bindings: message binding parameters mismatch"
Good morning. Here is parameters mismatch in message binding section in HTTP Bindings

#### How to Reproduce
You defined next properties in [this schema](https://github.com/asyncapi/bindings/tree/master/http#message-binding-object) as allowed:
* headers
* bindingVersion

But in example you provided `meta` instead of `bindingVersion `
[code]

#### Expected behavior
I think that correct example is i

[2020-04-25 15:06] Pakisan opened #21 "Kafka Bindings: operation binding parameters mismatch"
#### Describe the bug
Good morning. Here is parameters mismatch in operation binding section in HTTP Bindings

#### How to Reproduce
You defined next properties in this schema as:
* `groupId` as `String`
* `clientId` as `String`

but provides example where they are objects

[code]

#### Expected behavior
but looks like they should be [Schema Object](https://www.asyncapi.com/docs/specifications/2.0

[2020-04-25 15:16] Pakisan opened #22 "Kafka Bindings: message binding parameters mismatch"
#### Describe the bug
Good morning. Here is parameters mismatch in operation binding section in HTTP Bindings

#### How to Reproduce
You defined next property in this schema as:
* `key ` as `String`
but provides example where it is objects

[code]

#### Expected behavior
but looks like it should be [Schema Object](https://www.asyncapi.com/docs/specifications/2.0.0/#schemaObject)

Am I right? If it

[2020-04-29 12:06] #19 closed

[2020-04-30 09:06] fmvilas opened #23 "Update bindings with the learnings from enterprise-patterns repo"
Update the bindings with the learnings from this repo: github.com/asyncapi/enterprise-patterns/.

[2020-04-30 10:18] fmvilas commented on #11
I'm closing this issue as this has been implemented as an extension here: https://github.com/asyncapi/extensions-catalog/pull/8. Thanks, @Paul-T-AU! 🙌

[2020-04-30 10:18] #11 closed

[2020-05-14 22:13] Pakisan commented on #22
Was resolved via https://github.com/asyncapi/bindings/pull/24

[2020-05-14 22:13] #22 closed

[2020-05-14 22:13] Pakisan commented on #21
Was resolved via https://github.com/asyncapi/bindings/pull/25

[2020-05-14 22:13] #21 closed

[2020-05-26 19:15] kvaleev opened #26 "Support routing key binding patterns for AMQP topic exchanges"
#### Reason/Context

Currently, AsyncAPI AMQP 0-9-1 Bindings object doesn't support the routing schema for [topic exchanges](https://www.cloudamqp.com/blog/2015-09-03-part4-rabbitmq-for-beginners-exchanges-routing-keys-bindings.html#topic-exchange).

Having the ability to specify patterns for a routing key will make it possible to describe routing messages to queues based on wildcard matches betwe

[2020-05-31 08:28] kokokruunch opened #27 "[FEATURE REQUEST] MuleSoft Anypoint MQ Support"
#### Reason/Context
It would be great to include a support for MuleSoft Anypoint MQ bindings. This will help define async APIs that integrate well with MQ.

#### Description
Introduction of a new binding, that supports Server, Channel, Operation and Message Bindings.

For example (Channel Binding):
[code]
and

(Operation Binding - derived from [here](https://docs.mulesoft.com/connectors/anypoint-m

[2020-06-03 12:28] integrationsolutions commented on #9
IBM MQ is the most used messaging and queuing mechanism in the world. It would be good to see a way to define IBM MQ queues and channels thru asyncapi

[2020-06-05 17:52] fmvilas commented on #9
Agree. We don't have much knowledge on IBM MQ though so any help would be appreciated. Pull requests are welcome.

[2020-06-06 18:17] Tenischev opened #29 "Message of LWT of MQTT don't described"
#### Describe the bug
In the [example](https://github.com/asyncapi/bindings/tree/master/mqtt#example) of MQTT the `lastWill.message` parameter is present, but this parameter is not mentioned in the [table](https://github.com/asyncapi/bindings/tree/master/mqtt#fixed-fields) above.

#### How to Reproduce
![image](https://user-images.githubusercontent.com/4137916/83951576-12ca3500-a83b-11ea-98cc-638d

[2020-06-06 18:23] Tenischev opened #30 "Add "Applies To" column to operation description."
#### Reason/Context
Having "Applies To" column simplify understanding of parameter during creation of AsyncAPI.

#### Description
Add "Applies To" column for [operation binding of HTTP](https://github.com/asyncapi/bindings/tree/master/http#operation-binding-object).
Add "Applies To" column for [operation binding of Kafka](https://github.com/asyncapi/bindings/tree/master/kafka#operation-binding-obj

[2020-06-08 09:52] JohnRCatlin opened #32 "SFTP Bindings for AsyncAPI"
#### Reason/Context
As an Enterprise Systems Integration Developer,
I value the ability to use AsyncAPI to define machine reading interfaces for SFTP,
So that I can provide manage interfaces (versioning, schema, bindings, code generation, etc) for integrations to legacy systems that exchange files.

#### Description
Please try answering few of those questions
- What changes have to be introduced?

[2020-07-16 18:37] BlockLucas opened #33 "Bindings: "message" of MQTT server binding is defined in the example but not in schema table"
Issue part of asyncapi/asyncapi#397

https://github.com/asyncapi/bindings/blob/master/mqtt/README.md#server-binding-object
https://github.com/asyncapi/bindings/blob/master/mqtt/README.md#example

[2020-07-22 00:21] #18 closed

[2020-07-28 08:54] kvaleev commented on #26
This is still relevant

[2020-08-01 00:34] kokokruunch commented on #27
Hi team, any updates? I can raise the PR when ready.

[2020-08-07 15:58] BlockLucas commented on #33
Hi! we could create a PR, but we dont know if we should remove the message property from example, or add the message property in the schema.
@fmvilas could you check it up?

[2020-08-14 09:45] fmvilas commented on #33
Good catch, @BlockLucas. I think "message" should be added to the table of properties. In other words, the example is correct.

[2020-08-28 00:29] #26 closed

[2020-09-01 00:29] #27 closed

[2020-09-05 00:50] #30 closed

[2020-09-05 00:50] #29 closed

[2020-09-07 00:30] #32 closed

[2020-09-16 18:51] AgustinBettati opened #35 "Kafka bindings makes incorrect use of Schema Object"
**Describe the bug**
[Kafka bindings](https://github.com/asyncapi/bindings/tree/master/kafka#fixed-fields) uses Schema Object to define 'groupId', 'clientId', and 'key'. Schema Object is used to define a payload structure, while these facets simply store a string value.

These facets where originally defined as strings, but due to the following issues they where changed to Schema Object:
https://g

[2020-09-21 08:58] fmvilas commented on #35
I'm not sure I understand. It looks fine to me. The idea behind these fields being Schema Objects is to be able to apply more complex validation rules. For instance, if I want to apply a rule to all `groupId`s inside my organization and I don't accept anything that doesn't match the pattern `orgName.department.service.version`, expressed as `^[\w]+\.[\w]+\.[\w]+\.[\d]+$`:

[code]

[2020-09-21 08:59] #33 closed

[2020-09-22 12:41] derberg opened #36 "Cleanup GitHub Actions workflows"
**Context**

1. We want to make sure we have healthy community and people respec each other in GitHub. We want to monitor all comments in every repository and analyze sentiments to identify negative ones and get proper notification. Idea is to use GitHub Actions for it, to check sentiments with Google Natural Language API and post negative comments to Slack for review.

2. We manage community file

[2020-09-22 14:35] AgustinBettati commented on #35
Okay i understand, thanks for the clarification!

[2020-09-22 15:05] fmvilas commented on #35
No problem. Thanks for opening the issue 🙂

[2020-09-22 15:05] #35 closed

[2020-10-07 20:39] kvaleev commented on #26
Would like to reopen, still relevant

[2020-10-20 07:21] #36 closed

[2020-12-18 12:27] dalelane opened #40 "Specify Avro encoding approach"
There is a need to describe the Avro encoding when using Apache Avro as the payload schema format.

For context, when using an Avro schema to serialize data, a Kafka producer can choose between [two ways of encoding the data](https://avro.apache.org/docs/current/spec.html#Encodings):

- json - the data is still human-readable which is sometimes useful
- binary - the encoded data is smaller and can

[2020-12-18 17:13] lbroudoux opened #41 "Specify how Avro schema ID is serialized on Kafka"
#### Reason/Context

AsyncAPI allows to reference Avro schema used for serializing / deserializing messages on a topic and parser has a sample on [how to express that with a schema being already into a registry](https://github.com/asyncapi/avro-schema-parser#usage-with-confluent-schema-registry). Nice !

When it comes to serializing Avro data to a Kafka topic, you usually have 2 options :
* The «

[2021-01-11 11:31] iancooper opened #43 "SNS/SQS Bindings"
#### Reason/Context
The standard needs a way to describe bindings for AWS, in particular usage of SNS as a router and SQS as a channel.

Some aspects vary a little from the way AMQP 0.91 (RMQ) works. For example, we don't have a uri for a broker. We do have a URI for a topic in SNS, and we could think about the base part of that path (addressing a host region and account) as the uri and the topic

[2021-01-14 16:27] iancooper opened #44 "The Binding for a Queue is on the Channel. Would it not be on a Subscribe Operation?"
#### Reason/Context
- Why we need this improvement?
When thinking about automation we should consider who might create something. In the amqp 0-9-1 model for primitives an exchange is a router, a queue is a subscription that router delivers to, and a binding links the two.
- How will this change help?
A publisher does not need to know about queues. The publisher sends to a topic but has no concept

[2021-01-16 22:59] ericsampson commented on #44
Makes sense to me (hi Ian!)

From the RabbitMQ docs, "A binding is a relationship between an exchange and a queue". publishers are agnostic of queues.

Also a few other notes:
- exchange-to-exchange bindings are supported, is this possible to represent?
- queues can have `x-queue-type` property of "classic" or "quorum", I think this is currently missing.

[2021-01-18 13:52] derberg commented on #43
@iancooper as you can see there are no bindings defined for SNS and SQS, so feel free to open a PR

[2021-01-18 13:55] derberg commented on #44
@fmvilas do you remember why did you put it on the channel level initially?
@olvlvl any opinions from your side? I saw you added `vhost` to the `queue`. How do you consume it atm from the channel instead of the operation?

[2021-01-18 15:30] olvlvl commented on #44
Hi everyone,

I appreciate that the "protocol bindings" are all grouped in this `bindings` property and not spread everywhere. Just because they share the same name we should confuse them with "RabbitMQ bindings" which are an implementation detail. As @iancooper said, a binding is between an exchange and a queue, with a routing key of course.

The following example demonstrates a channel we publis

[2021-01-18 16:43] fmvilas commented on #44
Yeah, as @olvlvl pointed out, AsyncAPI protocol bindings are not the same as RabbitMQ bindings. AsyncAPI bindings are defined at multiple levels (servers, channels, operations, and message) and they're a way to define protocol-specific information on AsyncAPI. The reason they're defined at Channel level is because a channel on AsyncAPI is the same as a topic/queue in RabbitMQ, and this information

[2021-01-25 09:53] rcoppen opened #48 "Request approval to contribute IBM MQ AsyncAPI binding"
Hi, I work in the IBM MQ development team and would like to contribute an AsyncAPI binding for IBM MQ under Apache 2.0 license. We’re very keen to help our users benefit from AsyncAPI and following an initial discussion with @fmvilas we have created a bindings file to help achieve that. I've opened this issue to engage with the wider community and work towards making the binding generally availabl

[2021-01-25 15:01] rcoppen commented on #48
Hi @fmvilas, yes we've developed a binding for IBM MQ and ready to contribute for review. I'll go ahead and open a PR.

Thanks

[2021-01-27 12:05] iancooper commented on #44
So we all agree that AMQP bindings and AsyncAPI bindings are not the same.

The question is where we define the properties of a queue that are required for its creation i.e. platform specific configuration. Should that be at the channel level or the operation level (publish or subscribe).

For Hohpe a channel is a virtual pipe but most commonly we tend to think about this as a logical address such

[2021-01-27 14:16] olvlvl commented on #44
In the context of RabbitMQ, the "channel" is a routing key, which is a parameter, not a resource. Only exchanges and queues are resources, as such, that's all anybody can "own". I'm gonna use my previous example again, which is only a _subscriber_, to illustrate:

[code]

My application owns the queue `recipes-service.events` which binds the exchange `recipes-service` with the routing key `recipe.

[2021-01-27 20:08] iancooper commented on #44
But why would it not be

[code]
If I look at the operation binding of Kafka, and we should be consistent about where we bind the same class of information, the definition of how we subscribe to the topic is an operation binding not a channel binding

[code]

It seems more sense to define the bindings for how we subscribe, as part of the operation binding, not part of the channel binding.

[2021-01-28 11:34] iancooper commented on #44
Yes, mostly message level properties, so they are at the wrong level as well. ReplyTo is a header value on a message really and might be better handled with traits I would have thought. ack and deliverymode really relate to how I consume, I'm not sure they really form part of a binding - I would suggest that is an implementation detail i.e. ack on consumer or manually ack once processed. I don't k

[2021-01-28 13:15] ericsampson commented on #44
@iancooper wrote:

I 100% agree with Ian's proposal/example.

[2021-02-15 10:26] dalelane commented on #41
I had a go at illustrating what this would look like. It got a bit long, so instead of putting it in a super-long comment here, I've put it in a stand-alone gist at https://gist.github.com/dalelane/3931c17b14c51fa4a1cf25496237d188

[2021-02-15 10:27] dalelane commented on #40
I had a go at illustrating what this would look like. It got a bit long, so instead of putting it in a super-long comment here, I've put it in a stand-alone gist at https://gist.github.com/dalelane/3931c17b14c51fa4a1cf25496237d188

(I also addressed the related issue #41 as part of the same exploration)

[2021-02-22 17:19] nictownsend commented on #41
I believe - binary/json can be inferred from the message binding content type? application/json or application/octet-stream?

[2021-02-22 19:58] dalelane commented on #41
@nictownsend That's a great idea - much simpler! I'll update the gist with that

[2021-02-22 23:10] dalelane commented on #41
@lbroudoux I've updated the gist to reflect your remaining comments in Slack. It's slightly different to what you suggested (I put `useRegistry` alongside the schema registry url in the server binding, because it felt a better fit to make it part of describing server info) but I think I've addressed the gaps you spotted

[2021-02-23 11:50] nictownsend commented on #41
https://gist.github.com/dalelane/3931c17b14c51fa4a1cf25496237d188#how-this-could-be-described-in-asyncapi-3 - I don't think `schemaIdLocation: "payload"` is enough to infer the sample code byte skipping, we need to know the `schemaVendor` too.

Also, I think I agree with @lbroudoux over `useRegistry` - it seems more explicit to say "this channel/operation uses a registry" vs "this server uses a re

[2021-02-25 13:34] lbroudoux commented on #41
Hi @dalelane and @nictownsend,
Thanks for pursuing discussion : I was quite a bit in a rush these last days.

I agree with @nictownsend with the `useRegistry` flag - for me it's also more explicit to have it at the channel/operation level than having to browse the servers for that.

Also, to me it seems that the `schemaRegistryAvailable` flag you introduced is serving a different purpose by tellin

[2021-03-29 11:21] derberg commented on #48
It is already done and merged so closing the issue

[2021-03-29 11:21] #48 closed

[2021-04-27 06:26] derberg commented on #41
Hi folks, this one is getting stale, do we plan to push it forward?

[2021-04-27 21:45] dalelane commented on #41
hi @derberg

yeah, sorry - my to-do list has gotten a bit out of control recently so I've not had time to put into this one for a while

If someone wants to take this and run with it, I certainly won't complain. But if no-one does, I really do want to come back to this and finish it.

[2021-04-29 08:16] #44 closed

[2021-04-29 08:31] lbroudoux commented on #41
Hi!

I think that all the intent of this issue is now embedded into #55 where conversation is going on... I have a review today and will share thoughts and questions on #55 - to not disseminate information.

[2021-04-29 12:47] ericsampson commented on #44
@iancooper did you end up creating a PR, or just gave up? :)

[2021-04-29 13:06] iancooper commented on #44
@ericsampson I am going to create a new issue as I think I can explain it better.

[2021-04-29 14:17] ericsampson commented on #44
@iancooper cool, feel free to tag me there

[2021-04-29 17:26] iancooper commented on #44
@ericsampson Will do

[2021-05-22 12:47] KhudaDad414 commented on #23
I am going to start working on this.

[2021-05-24 15:01] derberg commented on #43
@iancooper do you plan to work on this one, should I fight the stale bot or just let it be closed and you just reopen when you have time to jump into it?

[2021-05-24 15:37] iancooper commented on #43
@derberg Hopefully some time this week, but let's close and re-open when i get it done

[2021-05-24 15:37] #43 closed

[2021-05-24 17:06] iancooper opened #62 "Establish conventions on where we define configuration for a protocol using bindings for consistency"
# Documenting Producers and Consumers

## Proposal

We should agree conventions around bindings so that different protocols are as consistent as possible as to how we use bindings on objects that support them. Today, implementers of protocols have not been consistent in application of bindings. This makes it difficult to create tooling that works with different bindings.

## Discussion

Let's assu

[2021-06-11 10:01] GeraldLoeffler opened #64 "for protocol headers the AMQP bindings spec should use a schema object in the message binding object"
AMQP (0.9.1) protocol headers like `userId`, `replyTo`, or `timestamp` are currently defined as fields in the [operation binding object](https://github.com/asyncapi/bindings/tree/master/amqp#operation-binding-object).

Firstly, protocol headers are probably better captured in the message binding object than in the operation binding object.

Secondly, every message at runtime can potentially use di

[2021-06-11 10:02] GeraldLoeffler commented on #62
See https://github.com/asyncapi/bindings/issues/64 for a much smaller-scoped related aspect.

[2021-06-15 13:54] fmvilas commented on #62
I love how you've put it together. Nothing to argue against it, @iancooper. Actually, totally the opposite, let's go for it. How do you think we can set these conventions? Maybe listing them as part of the [README](https://github.com/asyncapi/bindings/blob/master/README.md)? Also including the ones suggested by @GeraldLoeffler.

[2021-06-16 10:28] fujiapple852 opened #66 "Clarify schema restriction on WebSocket Bindings query"
The documentation for [WebSockets Bindings](https://github.com/asyncapi/bindings/blob/master/websockets/README.md) states that the `query' must be:

I am attempting to encode an existing WebSocket API which establishes the connection with a POST request which has a body that is a JSON array. This appears to be accepted by several validators (I can produce an example if required) yet is not allowed

[2021-06-18 12:49] derberg commented on #66
@fujiapple852 it would be great to get an example. You can rework this one.

Also keep in mind that validators do not support bindings yet. So whatever goes in is treated as valid

[2021-06-23 10:38] fujiapple852 commented on #66
@derberg Apologies for the delay and thank you for the assistance.

Here is an example of a trivial `bindings` object which specifies that a `POST` operation with a `query` (which I interpret as the body of the `POST` as there is no separate `body` field specified) is an `array` of `string`:

[code]

Here is the sample example embedded in a minimal valid AsyncAPI document:

[code]

The example app

[2021-06-23 10:50] derberg commented on #66
of course I did not provide a link to an example, 🤦🏼 , sorry

Look at this example I created recently -> https://github.com/asyncapi/spec/blob/master/examples/2.0.0/websocket-gemini.yml#L63 It is object. Another old example -> https://raw.githubusercontent.com/asyncapi/generator/v1.4.0/test/docs/ws.yml

Why you prefer Array over Object? or another question why do you expect only an Object. It is n

[2021-06-23 11:26] fujiapple852 commented on #66
@derberg thanks for the example.

No preference but I have an existing WS API that works this way and I am trying to produce an asyncapi document for it.

The [WebSockets Bindings](https://github.com/asyncapi/bindings/blob/master/websockets/README.md) document which is linked from the main asyncapi specification contains the quote from my original question, which led me to believe it must be an `o

[2021-06-23 12:22] derberg commented on #66
@fujiapple852

I don't recall any specific discussion, feel free to create an issue in the `spec` repo.

feel free to open a PR with a suggestion.

[2021-06-24 07:59] bali182 opened #68 "Understanding WebSocket API description's query and Chanels Object keys"
Hello, I'm raising this issue  to have a better understanding how the ws protocol is described. I'm looking at this example:

https://github.com/asyncapi/spec/blob/master/examples/2.0.0/websocket-gemini.yml

1. When using websockets, the keys in `Channels Object` are the URLs to connect to right?  So this:
[code]

Would mean connect to this URI (where symbol is a parameter), right?:
[code]

If we

[2021-06-29 07:45] derberg commented on #66
@fujiapple852 hey, sorry, actually it must be type object, I just checked that this is what binding says

[code]

[2021-06-29 14:15] olvlvl commented on #64
Hi everyone,

According to [the documentation](https://www.rabbitmq.com/publishers.html#message-properties) `userId`, `replyTo`, or `timestamp` are referred as "message properties", not "protocol headers". That being said, I agree with @GeraldLoeffler. Since `userId`, `replyTo`, or `timestamp` are message properties, and as such can be different for each message, it would be correct to have them d

[2021-06-29 16:42] bali182 commented on #68
Cool thank you for moving it!

That is exactly my question :)  JSON Schema allows it. AsyncAPI docs don't say as far as I have seen that you can't do this.  So my question is:

A) Is nesting not allowed, and this info missing from the docs?
B) If nesting is allowed are there specs on serialization?

Assume we have the schema you mentioned:

[code]

OpenAPI would prescribe serializition of the equi

[2021-06-29 16:44] bali182 commented on #68
In other words lets assume the following scenario:
1. I'm the maintainer of a code generating tool for AsyncAPI.
2. Someone tries to use a nested object or array as a parameter.
3. What do I do?
  - Say it's not allowed according to spec
  - Implement serialization/deserialization for it, but how?

[2021-06-30 07:31] derberg commented on #68
I have to say `?heartbeat[foo]=someString&heartbeat[bar]=1` is interesting to see. Never actually saw it in any API

I would say that better clearly set limitations in the WebSocket binding rather than come up with some complex serialization guidelines really.

We already had a sentence that it must be an object with properties, we just need to add that properties of the object cannot be of type `

[2021-06-30 18:06] bali182 commented on #68
I think that would definitely clarify things! If the object schema is interpreted as the collection of query params, and it the properties cannot be arrays or objects, serialization becomes pretty simple, as the only thing to do is url encode/decode the key/values and we are done. Thank you!

Does the same apply to the path parameters too? Meaning the schema for a Parameter Object describing a pat

[2021-07-02 10:09] derberg commented on #68
This is just my opinion though 😄 I just like to keep things simple. Would you open a PR to clarify this? I could engage other maintainers

you mean Parameters in the Channel name? this is different story, recommend separate issue in `spec` repo. For me, schema for parameter is definitely not array or object as again, it would not make sense

[2021-07-03 18:08] bali182 commented on #68
Awesome, thank you, I'll dig into the docs more and  come up with a PR, based on my understanding, and then it's easier to critique, if that's how it is/supposed to be or not!

[2021-07-03 18:08] #68 closed

[2021-07-04 15:43] bali182 commented on #66
@fujiapple852 Hello, we just had a chat with @derberg about a very similar issue, I'm curious in your example how would the query string look like that's built from this array? I was under the impression that the `query` field is an object, and each field represents a separate query parameter. Eg.:

{
  "ws": {
    "method": "POST",
    "query": {
      "type": "object",
      "properties": {

[2021-07-05 08:02] iancooper commented on #62
@fmvilas I'll try to get together a proposal for something we could put in a README.md or a Conventions.md this week

[2021-07-05 08:55] derberg commented on #68
@bali182 perfect, thanks a lot for taking the time to have this discussion

[2021-07-08 10:13] iancooper commented on #64
@GeraldLoeffler @derberg @olvlvl

I'll post my suggested conventions in a day or so, but I'd argue that these are not bindings, but form part of the schema for the headers on the message, and can be supported by MessageTraits if you have fixed values.

If you send it over the wire, I don't believe a binding is the place to define it. I believe the binding should be where we define configuration re

[2021-07-08 10:27] fujiapple852 commented on #66
@bali182 My original question is bogus (I had misunderstood the API I was trying to encode, it does not `POST` anything).

Checking [RFC 6455](https://datatracker.ietf.org/doc/html/rfc6455) it says (bottom of page 16, point 2) that:

So I think the only (minor) issue here is that the [WebSockets Bindings](https://github.com/asyncapi/bindings/blob/master/websockets/README.md) states that:

Do you a

[2021-07-08 12:27] bali182 commented on #66
Ah I think we meant different things then. Hmm to me intuitively POST would make sense in case you wanna send a larger amount of data when connecting, but I'm just playing with sockets atm, haven't read the specs.

[2021-07-08 12:49] fujiapple852 commented on #66
@bali182 i agree it makes sense to support POST (and with it the ability to provide an arbitrary body, including a JSON array!) but it seems the WS spec forbids it for some reason, or at least so it seems from my limited reading!  I’ll leave the question of whether it makes sense for asyncapi to allow POST to those better informed than I am on the matter.

in any case my original question has been

[2021-07-08 12:49] #66 closed

[2021-07-09 13:26] jmenning-solace commented on #62
Completely agree with @iancooper that conventions would be really helpful.

[2021-07-14 08:02] dedoussis opened #74 "Socket.IO protocol support"
#### Reason/Context

Socket.IO is yet another [protocol](https://github.com/socketio/socket.io-protocol) that may be modelled using AsyncAPI. With the current binding specification, a Socket.IO API developer needs to resort to the WebSockets bindings in order to express the schemata of the HTTP header and query param that a Socket.IO server expects upon handshake.

#### Description

My proposal in

[2021-08-06 08:14] #5 closed

[2021-08-17 07:23] derberg commented on #40
@dalelane is it Kafka specific only? why not on schemaFromat level?

[2021-08-17 10:07] dalelane commented on #40
Yeah, that's a fair point. I've only heard of this being an issue in Kafka, but in theory there's no technical reason why it only could apply to Kafka

[2021-08-17 12:33] derberg commented on #40
at the end you just need to specify in the document what content type is sent over the wire right? like `avro/binary` and the schema format would still be json or yml, or?

[2021-08-17 12:52] dalelane commented on #40
@derberg When you're using a schema registry (which is the most common approach when Kafka developers are using Avro schemas), developers will specify the ID and version for the schema they're using. There are lots of different places that this can be specified.

It could be in a header. Or it could be in the message body - typically this is done by prefixing the rest of the message body with it,

[2021-08-17 15:12] derberg commented on #40
It does sound tricky, would love to see this on the code level, might be useful to figure out how to present it then in the AsyncAPI file to generate a given code.

Did you explore the Java template we have (not Spring one). It needs some love and we are looking for maintainers there 😆

[2021-08-29 00:43] #41 closed

[2021-08-30 06:53] derberg commented on #41
Hey folks, `stale` bot killed https://github.com/asyncapi/bindings/pull/55 and killed this issue too. I on my own can't really proceed with this as you are the ones using Avro in production and know the best direction we should take here. Feel free to reopen, or just comment whenever you want to continue with these

[2021-08-31 07:55] dalelane commented on #41
Sorry about that - I've been a bit distracted the last couple months between new job, holiday, etc.

Let me pick this up again this week, and I'll re-open when I have something worth sharing.

[2021-09-02 09:36] dalelane commented on #40
@derberg Where is the Java template, please? I was only aware of the two Spring generators (Java Spring and Java Spring Cloud Stream)

[2021-09-02 09:45] derberg commented on #40
oh, sorry for confusion, not `not Spring one` I meant not `Java Spring Cloud Stream`

[2021-09-02 15:05] dalelane commented on #40
@derberg Brill, thanks. I had a go at [adding support for the new security scheme types](https://github.com/asyncapi/java-spring-template/pull/158) as a way of familiarising myself with the generator

[2021-09-09 14:55] damaru-inc opened #80 "Feature request: Solace bindings"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
  At Solace we are expanding our use of AsyncAPI from code generation to discovery and beyond. We need a way to represent things like queue configuration.
- How will this change help?
 It will allow us to represent the details needed to describe more technical features of messaging with Solace.
- What i

[2021-09-13 13:19] derberg commented on #74
@dedoussis in case you want to take this forward we would definitely have to see how proposed binding would look like, example asyncapi files and reasoning behind those

[2021-09-15 15:35] nadjahagen opened #83 "Clarify Readme files: Specification extensions for binding objects"
#### Reason/Context
The README files suggest that specification extensions are not allowed for binding objects because of the sentences "This object MUST NOT contain any properties. Its name is reserved for future use." and "This object MUST contain only the properties defined above.". This can be confusing, especially for people who are new to AsyncAPI and are not aware that specification extensi

[2021-09-15 15:47] magicmatatjahu commented on #83
@nadjahagen Hi! Good point! Bindings is still in "alpha" version that we have such a feature, but we haven't any tooling which support this. However, for me

"This object MUST NOT contain any properties. Its name is reserved for future use." and "This object MUST contain only the properties defined above."

means exactly as you wrote at the end. This object can be extended by extension, but the pr

[2021-09-16 15:12] derberg commented on #80
@damaru-inc you should definitely go ahead and open up a PR so we can view the proposal there to leave comments. We just release 2.2 release candidate wit Anypoint MQ binding from MuleSoft, so IBMMQ now is not the only one.

[2021-09-17 14:45] fmvilas commented on #83
This means you can't define any property that's not defined there and therefore also not extensions. @nadjahagen I wonder why you want to place extensions there. Would be great to have an example.

Same as above with the additional constraint that this empty MUST be empty. This is to prevent people from putting there whatever they want and then one day we add a schema and they get a breaking chang

[2021-09-20 08:34] nadjahagen commented on #83
@fmvilas my use case is that we are using Kafka and would like to specify the number of partitions for a topic and the replication factor. Like I understood the binding specification for Kafka, that is currently not possible. So I thought that it might be possible to define it by using specification extensions for the Server or Channel object.
Using specification extensions would be my "workaround

[2021-09-20 08:50] fmvilas commented on #83
I think the number of partitions for a topic is a perfect example of a specification extension use case. Bindings (short for Protocol Bindings) are meant for protocol-specific stuff you need to know during the connection, disconnection, and the sending/receiving of messages. What you want to define is the infrastructure which, from an API perspective, is not relevant. IMO, this makes it a perfect

[2021-09-21 07:50] nadjahagen commented on #83
So are specification extensions in a binding object allowed? In your answer above, you stated that "This object MUST contain only the properties defined above." means that no extensions are allowed. But on the AsyncAPI website, it says that specification extensions can be used. Sorry for me being still confused :sweat_smile:

[2021-09-23 16:21] fmvilas commented on #83
No problem  😄 The bindings object on the spec can be extended, as it's described on the spec: https://www.asyncapi.com/docs/specifications/v2.1.0#operationBindingsObject. However, each binding object is not extendable. For instance, you can do this:

[code]

But you can't do this:

[code]

Does that make sense?

[2021-09-28 10:29] nadjahagen commented on #83
Ah okay, thank you! Now it makes sense  :smile: Then I think this should be a feature request:

[code]
In order to be able to extend each binding object with properties like "number of partitions" or "replication factor". Another use case would be, if you want to add some kind of additional description/documentation for a single binding object. Or is there a reason why extensions should not be pos

[2021-10-03 22:49] rcarrascosps opened #87 "JMS Bindings"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
JMS is very well known in the industry, there are a lot of implementations of it (IBM, Oracle, JBOSS, etc). And it is still used and very reliable for mission critical systems

- How will this change help?
It will allow us to represent the details needed to describe more technical features of messaging

[2021-10-05 09:02] derberg commented on #15
I'm closing as issue is super old, related to milestones from mid 2020 and has no description. If you disagree, please reopen

[2021-10-05 09:02] #15 closed

[2021-10-13 05:19] Nighink opened #93 "Kafka OperationBinding is string in example"
#### Describe the bug
The [description of the Kafka Operation Binding Object](https://github.com/asyncapi/bindings/blob/master/kafka/README.md#operation) states that the `clientId` is of type `Schema`. The [`streetlights-kafka` example](https://github.com/asyncapi/spec/blob/master/examples/streetlights-kafka.yml#L163) uses a `string` instead (`clientId: my-app-id`). There seems to be a discrepancy

[2021-10-19 14:47] derberg commented on #87
JMS binding placeholder is there so feel free to elaborate more on what changes you want to introduce

[2021-10-21 13:39] derberg opened #97 "Time to get some more organized governance for this repo"
Bindings are cool as they make spec protocol agnostic, but that also means that there is no single human that can handle ownership of every binding out there (opinions are my own 😄 )

Time to setup CODEOWNERS file and get a setup where specific bindings are owned and maintained by their main contributor.
In other words, I personally do not want and do not feel it is right that I can approve any ch

[2021-11-02 10:46] #97 closed

[2021-11-05 08:31] #80 closed

[2021-11-10 05:19] KhudaDad414 commented on #93
I am transferring this issue to the `spec` repo.

[2021-12-07 13:08] daFritz84 commented on #2
CoAP (RFC 7252) is a good example. CoAP is designed to allow for REST (GET/PUT/POST/DELETE) and publish/subscribe (OBSERVE) semantics. See also https://coap.technology

I'm currently in need of a specification format for a CoAP and find both OpenAPI and AsyncAPI lacking in some way or another.

[2022-01-07 17:41] fmvilas commented on #62
@iancooper is this still something you would like to do?

[2022-01-12 08:38] derberg commented on #64
Hey folks, where are we with this one, anyone driving it further?

[2022-01-12 17:20] derberg commented on #74
@dedoussis hey, are you still interested to push this forward?

[2022-01-23 13:30] jonaslagoni opened #113 "Move binding JSON schema files to main JSON schema repository"
#### Reason/Context
Currently, we store the binding JSON Schema files under each binding. However, it makes them hard to reach for others. Especially if we wish to provide them with our JSON Schema for the spec - https://github.com/asyncapi/spec-json-schemas/tree/master/schemas

See https://github.com/asyncapi/spec/issues/507

#### Description
I suggest we move all the JSON Schema files for bindin

[2022-01-23 19:47] dalelane commented on #113
Makes sense to me to keep it together. I'd be wary of deleting them from the bindings repo though, in case people are using URLs like https://raw.githubusercontent.com/asyncapi/bindings/master/kafka/json_schemas/message.json as `$ref` values - as we don't want to break anything.

Maybe a README in the json_schemas folders in the bindings repo explaining that the copies there are no longer being up

[2022-01-24 16:31] derberg commented on #113
I opted in keeping them here when they were added to make contribution process easier -> one repo to push changes.

but we already have json schema separated from `spec` repo for a good reason, to easily bug fix errors in json schema without releasing the spec. So yeah, I think the best would be to move JSON Schemas from here to `spec-json-schemas`.

we just need to have it clear in readme and hav

[2022-01-27 10:05] derberg commented on #83
oh, this is actually very interesting, @fmvilas any particular reason why we do not allow extensions inside each binding by default. It would make lots of sense to enable others to experiment first and then push some props as official ones

[2022-01-27 11:21] fmvilas commented on #83
Can't remember at the moment tbh 😅 Yeah, makes sense to let people extend them and experiment 👍

[2022-01-31 08:00] jonaslagoni commented on #113
I get the cautiousness @dalelane, I didn't really think of that use case as there was no library to enable the usage I automatically dismissed they were being used 😆

We could just reference the files in `spec-json-schemas` using `https://raw.githubusercontent.com/asyncapi/bindings/master/kafka/json_schemas/message.json`? The bundler that is in place for https://github.com/asyncapi/spec-json-schem

[2022-02-07 12:59] mr-nuno opened #116 "amqp: vhost in channel binding"
#### Describe the bug
When looking at the `channelBindings` for a `amqp` the `vhost` is on the channel level. But the `vhost` is really part of the `amqp`  connection i.e. part of the authentication.

[code]

For example,  `user` and `password` and `vhost` is used when authenticating against a amqp RabbitMQ broker. I don´t think the `vhost` is a part of the channel? When you look at the `server` p

[2022-02-07 13:34] smoya commented on #116
@mr-nuno thanks for submitting this issue. I took a quick look into it and indeed it makes sense to me that the virtual host shouldn't be in channel binding but instead, be grabbed from the server URL whenever is needed.
Starting from AsyncAPI spec `v2.1.0`, channels can be assigned to servers (see https://github.com/asyncapi/spec/pull/531), so in case any tool needs to know about the virtual host

[2022-02-07 14:17] smoya commented on #116
The use case on having different vhost is valid. However, you could have one server per vhost if needed.

[2022-02-07 15:22] mr-nuno commented on #116
Good question :smiley:
What I'm probably getting at is that the `vhost` is already part of `servers`
[code]
It's not really part of the `channelsBindings`

[2022-02-07 15:45] iancooper commented on #116
Overall this goes to a question I raised some time ago, how do we map AsyncAPI document objects to broker capabilities. For my part I would suggest:

* Routing & Store And Forward: Channels
* Middleware Host: Server

For RMQ I would map routing key and queue to channels (I can't see that being controversial) and vhost, exchange etc to server.

I think there is an argument for an explicit Broker ob

[2022-02-07 16:34] mr-nuno commented on #116
For RMQ, I think that channels are routing keys and a channel(routing key) can then declare a exchange or a queue in the binding. I'm not quite with you on why the exchange should be on the server level?

But for this issue the question is if the `vhost` belongs to the `channelBindings` 😃

[2022-02-10 22:59] Astiolo commented on #2
Having a HTTP binding that doesn't support multiple methods seems like a pretty big oversight to me. I don't think there really needs to be justification for supporting a key feature of the protocol that this is meant to support.

[2022-02-23 12:27] magicmatatjahu commented on #113
Isn't it better to have the json schemas here and add a github workflow that would move all the JSON Schemas to the `spec-json-schemas` repository? Identical as we do with `tsc_members.json` in the `community` repository, we move that file to the website.

The bindings themselves currently live their own lives and have their own versioning which is not related to the specification versioning. Addi

[2022-02-24 09:09] fmvilas commented on #2
Just leaving a thought here. I think we should make the HTTP binding a subset of the OpenAPI specification instead of reinventing the wheel. To be more specific, I think the shape of the HTTP binding should be the [Path Item Object of OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md#pathItemObject).

[2022-03-02 12:10] derberg commented on #113
@magicmatatjahu most important is consistency imho, this is why I opt in for move to `spec-json-schemas`. Especially that we moved spec json schema away from `spec` repo for a reason. JSON Schemas should not be released together with spec but independently, they are considered to be a "tool". And bindings are spec.

[2022-03-02 12:15] magicmatatjahu commented on #113
It is a solution, but I look at it from the point of view of DX itself as someone who will contribute. The spec changes are not that much, so those 2 PRs can be done.

If we decide to move the JSON Schemas to a separate repo, then I'd like us to create a champion system in this repo and in `spec-json-schemas`.

[2022-03-02 12:19] jonaslagoni commented on #113
As it should right? I mean changes to the bindings are practically at the same level as the spec itself in my opinion. The only difference is that it targets a smaller section of the users.

Yes, it is more confusing for someone who only wants to contribute to the bindings. However, if you contribute to bindings and then spec, it will in my opinion be more confusing 🤔

[2022-03-02 12:25] magicmatatjahu commented on #113
I don't know if we think the same but Binding spec !== AsyncAPI spec. Additionally, I think that we shouldn't hard bind JSON Schema of bindings to JSON Schema of spec (if you have such an idea) - we can have a huge problem with weight of given JSON Schema and it is important for frontend applications.

[2022-03-02 12:47] jonaslagoni commented on #113
Yea, we don't 😆

But would you not always want to properly validate the bindings as well? Should not matter about the size of the library as that is a side effect you must accept.

[2022-03-02 12:58] magicmatatjahu commented on #113
@jonaslagoni I don't mean no binding validation but validation in a different way than through a single JSON Scheme AsyncAPI spec.

This is why we can have two versions of JSON Schema, one full and the other smaller without bindings. The first one can be used on the VSC side (as an example) and the second one can be used on our tools side. Take into account that someone can write a custom binding

[2022-03-02 13:42] jonaslagoni commented on #113
In my mind, that would not be binding, but an extension 🤔

Maybe it makes sense to continue this discussion on another issue? `Is bindings part of the spec, or are they seen as extensions`

[2022-03-17 15:35] derberg commented on #113
so what, are we moving these or what?
and yes, definitely champion approach, with owners per binding definitely is a must.

if we are still in conflict on deciding where should files land, maybe we should try to simulate, and in general answer the question how bindings are released. This way we identify the flow and get answers if MD and JSON Schema can really be here together

[2022-03-17 21:26] magicmatatjahu commented on #113
If I may add something, I have no problem transferring the json schema of bindings to `json-spec-schemas` repo, but the json schema itself for bindings does not have the necessary information that we could read in the tools (parser-js) and validate properly. Most problematic gap as I see is no information for which versions of AsyncAPI a given binding can be used. We even have an issue opened for

[2022-04-13 08:16] jonaslagoni commented on #113
So how do we figure this one out? Cause it comes down to opposing viewpoints that cannot really be aligned, it's an either-or decision between the two approaches 😄

Should we do a live stream so we can discuss and clarify the pros and cons? 🤔

[2022-04-13 09:47] jonaslagoni commented on #113
yea, let's do that 👍

Think it makes sense to do it once https://github.com/asyncapi/community/pull/308 is merged, as the first ad hoc meeting :D

[2022-04-21 18:56] olvlvl commented on #116
Hi everyone,

Although `vhost` is part of the connection string, the server definition is not part of the binding, thus I would leave the `vhost` where it is. Moving `vhost` to the server connection would prevent having different `vhost` per queue/exchange, which was very common in my previous company (vhost per domain).

[2022-05-03 11:58] jonaslagoni commented on #113
Added it to the agenda for the next 3.0 meeting. That can be our start to see if we need a dedicated meeting afterward.

[2022-05-09 06:45] iancooper commented on #62
Yes, if we get some feedback and write up the schema, though we are using it day-to-day for IaC

[2022-05-10 03:03] linghengqian commented on #18
Should this issue be handed over to the Rsocket community?

[2022-05-10 12:58] derberg commented on #18
@linghengqian we can reopen this issue, not a problem. We just need someone to contribute the binding details. I or other maintainers can offer some onboarding but we definitely are not competent enough to specify what bindings are needed exactly in the case of Rsocket. I hear the name for the first time 😅

[2022-06-07 11:42] derberg commented on #40
@dalelane are you still working on this one?

[2022-06-07 12:29] derberg commented on #83
As we are talking here about bindings specification, we do not talk about AsyncAPI spec feature. AsyncAPI leaves it up to the bindings. So depends on how much you need it @nadjahagen. Could be that best is to introduce it through https://github.com/asyncapi/bindings/issues/62 and have it as standard for all bindings.

@fmvilas thoughts? cc @iancooper

[2022-06-08 12:55] tanujazz3 commented on #41
Can anyone please help why I am not able to run and execute the generator for the remote using
ag ./asyncapi.yaml @asyncapi/java-spring-template -o output -p user="username"-p password="password"

I have seen some examples where they are providing the schema registry url under Url-->Binding

Here is how my asyncapi.yaml looks like

asyncapi: 2.4.0
info:
title: Sample Service
version: 1.0.0
descrip

[2022-06-12 14:25] dalelane commented on #41
@tanujazz3 Hello!

Your question doesn't look like it is related to this closed issue - would you mind opening a new issue so this can be investigated, please?

I think https://github.com/asyncapi/java-spring-template/issues would be the best place to do that. And please can you include an example of the output you get when you run the command.

[2022-06-13 17:57] jonaslagoni commented on #2
After watching the [discussion from the request/reply video](https://www.youtube.com/watch?v=t9NALlHu_tE) I have some things I want to mention from a completely opposite point of view.

I don't think you will find it useable to reuse such a huge chunk of the OpenAPI spec. What would the main drivers be to allow this?

- Reusability

Alright, but  [The Path Item Object](https://spec.openapis.org/oa

[2022-06-22 08:33] Souvikns commented on #2
According to this issue, people just want a way to define multiple methods in HTTP bindings (which is something even I want), and only when we reuse openapi, do we have doubts about `reusability`, `tooling`, and other stuff. We can just model our HTTP binding by taking some ideas from open API  if we feel so.

I think we will have more problems if we try to reuse openAPI, maybe reinventing the whe

[2022-06-22 09:21] fmvilas commented on #2
Best for who? 😄 Will it make our lives easier or will it make user lives easier? Let's keep thinking. Maybe we shouldn't be putting all this stuff in a binding?

[2022-06-22 17:51] fmvilas commented on #2
@Souvikns I recommend you watch the latest spec 3.0 meeting. I'm sharing a potential new way to integrate OpenAPI and AsyncAPI: https://github.com/asyncapi/community/issues/394.

[2022-07-05 07:11] fmvilas commented on #83
Yeah, that's one way. Or just go through all the bindings and allow extensions on each one. Just so #62 is not a blocker.

[2022-09-07 04:35] fmvilas commented on #62
Dear bot, don't mark this issue as stale. It's still a relevant conversation.

[2022-09-21 21:12] ianmwong opened #147 "Solace bindings - New properties"
#### Reason/Context
The Solace operation bindings need two new attributes to track two new properties in each queue under a channel: maximum time to live (in seconds) and maximum spool size (in MB).

#### Description
We would like to add two new properties that align with the Solace messaging format and broker terminology, namely `maxTtl ` for the maximum TTL and `maxMsgSpoolUsage` for the spool s

[2022-09-24 14:41] dalelane commented on #40
This will be addressed by https://github.com/asyncapi/bindings/pull/115

[2022-09-27 22:45] ninjarobot opened #151 "AMQP header bindings specification"
#### Reason/Context

AMQP consumers may subscribe to messages from exchanges in various ways: topic, routing key, direct, and headers. The spec today covered topic and routing key, direct is somewhat implied, but doesn't cover header bindings. Without a spec, this means they can only be defined by spec extensions or left as undefined in the spec even though there are headers topics.

#### Descript

[2022-10-06 12:19] 195858 opened #153 "Typo in JSON schema for Solace server binding"
#### Describe the bug
Typo in JSON schema for Solace server binding

#### How to Reproduce
Review the JSON schema - it declares a property "msvVpn", the example given in the schema uses "msgVpn" which is correct

#### Expected behavior
The property should be called "msgVpn"

[2022-10-06 15:32] 195858 opened #155 "Solace Operation Binding JSON schema - bindingVersion not correctly nested"
#### Describe the bug
The `bindingVersion` element is not nested under `properties`.
Generated code form the JSON schema therefore omits this property

#### How to Reproduce
Review the JSON. Property is not nested correctly

#### Expected behavior
Needs to be a valid JSON schema

[2022-10-12 17:25] jonaslagoni opened #158 "HTTP message headers vs Message object headers"
Given that the native [message object allows you to define headers](https://www.asyncapi.com/docs/reference/specification/v2.5.0#messageObject), what's the reason behind having the [HTTP message bindings](https://github.com/asyncapi/bindings/tree/master/http#message-binding-object) define their own property for defining headers?

[2022-10-18 12:46] derberg commented on #158
this is a good question 🤔
@fmvilas I can't figure that out from commit history

[2022-10-19 13:54] rcoppen opened #160 "Allow MQTT Client negotiation of CONNECT packet properties"
#### Describe the bug
The AsyncAPI MQTT bindings spec allows the server to assert certain values such as `ClientId`. Since a `ClientId` will be unique to each client instance for a given server endpoint, it would be the Client's responsibility to supply its unique `ClientId` as part of its CONNECT operation. It's unclear in the current AsyncAPI binding how the value of `ClientId` should be interpr

[2022-10-19 14:59] dan-r commented on #160
There seems to be similar issue for the Kafka (with clientId) and AMQP (with userId) bindings. There isn't a clear distinction between enforced service properties and recommended(?) client options. I'd argue that client properties like this aren't always especially useful for a service spec as they could vary massively between clients of the same service.
Eg: a cellular client going through a 20 m

[2022-10-20 04:41] fmvilas commented on #158
Yeah, I think this is just because I completely forgot about it when creating the HTTP binding. We should definitely remove it in favor of message headers IMHO.

[2022-10-24 11:46] thake opened #163 "add `topicConfiguration` property to kafka channel binding"
#### Reason/Context
Many topic configuration properties influence how API consumers can use a topic that is owned by an API provider. To transparently communicate relevant topic configurations, it should be part of the AsyncAPI spec.

Example:
If the `cleanup.policy` and the related configurations [`delete.retention.ms`](https://kafka.apache.org/documentation/#topicconfigs_delete.retention.ms), [`

[2022-10-26 09:51] austek opened #164 "Pulsar bindings for AsyncAPI"
#### Reason/Context
Apache® Pulsar™ is a distributed, open source pub-sub messaging and streaming platform.
Ability to use AsyncApi spec to manage (versioning, schema, bindings, code generation, etc) the platform will be invaluable to organisations.

#### Description
A new AsyncAPI binding for Pulsar to be provided, possibly mirroring the same approach used for all other bindings

[2022-10-30 21:15] dalelane commented on #163
I like the idea - I can see how knowing the retention config will be useful from a dev-ops perspective for an application.

We should make sure we name and structure the variables in a way that will be as future-proof as possible - e.g. do we keep it flat and put retention config values alongside the [existing partitions and replicas values](https://github.com/asyncapi/bindings/blob/master/kafka/R

[2022-11-07 05:48] thake commented on #163
@dalelane, thanks for picking this issue up :+1:. I'm happy to work out a PR, once we've decided on the rough structure.

Independent of the structure, I think the following configuration parameters have an influence on an application's API if they publish on a kafka topic:
- [`cleanup.policy`](https://kafka.apache.org/documentation/#topicconfigs_cleanup.policy)
- [`retention.ms`](https://kafka.ap

[2022-11-07 20:31] #147 closed

[2022-11-10 11:28] manzarul opened #172 "How to use DMQ (Dead message Queue) eligibility flag in solace for any protocol bindings"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
-  How as a producer i will add this flag in my AsyncAPI document to reflect whether as a publisher i am publishing a message as DMQ eligibility as true?
-  Example for other binding can be found here: https://github.com/asyncapi/bindings/tree/master/solace
- How will this change help?
-  Help in produc

[2022-11-10 15:44] VisualBean commented on #164
Ive been secretly working on a potential pulsar binding for the passed week or so. Perhaps we can collab @austek

[2022-11-11 14:04] fmvilas commented on #83
Still relevant.

[2022-11-25 09:29] #163 closed